.filter {
    display: inline-block;
    vertical-align: top;
    min-width: 350px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.39);
    padding: 2em;
    background-color: darkslateblue;
}