.landing-page {
    display: inline;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: bottom 3s ease-in-out 1;
    z-index: 1000;
    background-color: blueviolet;
}

.landing-page.hidden {
    bottom: -100%;
}