.slider-vertical {
    display: inline-block;
    min-height: 120px;
    width: 32px;;
    border: 1px solid rgb(47, 0, 255);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.slider-vertical-bar {
    width: 28px;
    height: 12px;
    background-color: rgb(67, 117, 255);
    position: absolute;
    left: 5%;
}

.slider-vertical-slot {
    position: absolute;
    width: 50%;
    height: 90%;
    top: 5%;
    border-right: 1px solid rgb(35, 0, 99);
    box-sizing: border-box;
}

.knob-container {
    display: inline-block;
    padding: 5px;
}

.knob {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
    text-align: center;
    user-select: none;
}

.knob-label {
    user-select: none;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.knob-edit {
    position: absolute;
    z-index: 10;
}

.knob-edit input {
    display: block;
    width: 50px;
    height: 8px;
    margin: 0;
}

.switch-container {
    display: inline-block;
    vertical-align: top;
}

.switch {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    border: 1px solid green;
}

.switch.on {
    background-color: lime;
}

.switch.off {
    background-color: red;
}