.slider-vertical {
    display: inline-block;
    min-height: 120px;
    width: 32px;;
    border: 1px solid rgb(47, 0, 255);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.slider-vertical-bar {
    width: 28px;
    height: 12px;
    background-color: rgb(67, 117, 255);
    position: absolute;
    left: 5%;
}

.slider-vertical-slot {
    position: absolute;
    width: 50%;
    height: 90%;
    top: 5%;
    border-right: 1px solid rgb(35, 0, 99);
    box-sizing: border-box;
}

.knob-container {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    box-sizing: border-box;
}

.knob {
    user-select: none;
    display: inline-block;
    padding: 0;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid thistle;
    color: thistle;
    text-align: center;
    line-height: 1em;
}

.knob.large {
    width: 100px;
    height: 100px;
}

.knob-label, .knob-value-label {
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

.knob-value-label {
    position: absolute;
    top: 20px;
    z-index: 1;
}

.knob-edit {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.knob-edit input {
    display: block;
    width: 99%;
    height: 10px;
    margin: 0;
}

.switch-container {
    display: inline-block;
    vertical-align: top;
}

.switch {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transition: background-color 0.12s ease-in-out;
}

.switch.on {
    background-color: lime;
}

.switch.off {
    background-color: red;
}

.param-connection-list {
    border: 2px solid blue;
    padding: 3px;
    list-style: none;
}

.param-connection-list .switch {
    width: 24px;
    height: 16px;
}

.param-connection-list > li {
    border: 1px solid purple;
}

.waveform-container {
    display: inline-block;
    padding: 2px;
    color: green;
    list-style: none;
}

.waveform-container li {
    display: inline-block;
    padding: 3px;
    /* border:1px solid #008000; */
}

.waveform-container img {
    filter: invert(25%) sepia(98%) saturate(1740%) hue-rotate(95deg) brightness(93%) contrast(106%);
}

/* .waveform-container li.selected {
    color: #adff2f;
    border-color: greenyellow;
} */

.waveform-container li.selected img {
    filter: invert(92%) sepia(32%) saturate(1008%) hue-rotate(26deg) brightness(97%) contrast(117%);
}